<h3 class="text-center">Published Prayer Requests</h3>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'prayer', obj: @prayers %>
<div align="center">
  <%= will_paginate %>
</div>

<%= link_to "New Prayer Request", new_prayer_path %>

<%= link_to "logout", destroy_user_session_path, method: :delete %>