<h2 align="center">Title: <%= @prayer.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if @prayer.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <li>Created by:</li>
          <li><%= link_to gravatar_for(@prayer.user), user_path(@prayer.user) %></li>
          <li class="prayer-title">
            <%= link_to @prayer.user.username, user_path(@prayer.user)  %>
          </li>
          <li><small>
            <%= pluralize(@prayer.user.prayers.count, "prayer") if @prayer.user.prayers %>
          </small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="prayer-actions">
    <% if logged_in? && (current_user == @prayer.user || current_user.admin?) %>
      <%= link_to "Edit this prayer request", edit_prayer_path(@prayer, class: "btn btn-xs btn-info" %>
      <%= link_to "Delete this prayer request", prayer_path(@prayer), method: :delete,
                                        data: { confirm: "Are you sure you want to delete this prayer request?"},
                                        class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "View all prayers", prayer_path, class: "btn btn-xs btn-success" %>
  </div>
</div>